In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
import os

In [2]:
# import parquet file src/output/all_data.parquet

df = pd.read_parquet('src/output/all_data.parquet')

In [4]:
df.head()

,^GDAXI,^GSPC,^IXIC,unemployment,gdp,inflation,interest_rate,money_supply,AAPL,MSFT,GOOG,AMZN,FB,TSLA
2006-01-02,-1.247425,NaN,NaN,NaN,NaN,NaN,NaN,6696.8,NaN,NaN,NaN,NaN,NaN,NaN
2006-01-03,-1.243457,-0.840025,-0.884245,NaN,NaN,NaN,NaN,NaN,-0.895238,-0.674184,-0.924353,-0.766531,NaN,NaN
2006-01-04,-1.220116,-0.833331,-0.876285,NaN,NaN,NaN,NaN,NaN,-0.894965,-0.672271,-0.911999,-0.766953,NaN,NaN
2006-01-05,-1.222745,-0.833303,-0.870872,NaN,NaN,NaN,NaN,NaN,-0.895697,-0.671976,-0.904594,-0.766442,NaN,NaN
2006-01-06,-1.215406,-0.816110,-0.859268,NaN,NaN,NaN,NaN,NaN,-0.893317,-0.673154,-0.886798,-0.766161,NaN,NaN

In [5]:
# descriptive statistics of the data
df.describe()

,^GDAXI,^GSPC,^IXIC,unemployment,gdp,inflation,interest_rate,money_supply,AAPL,MSFT,GOOG,AMZN,FB,TSLA
count,3.800000e+03,3.776000e+03,3.776000e+03,181.000000,61.000000,181.000000,181.000000,783.000000,3.776000e+03,3.776000e+03,3.776000e+03,3.776000e+03,0.0,2.647000e+03
mean,-1.196704e-16,-6.021549e-17,1.806465e-16,6.307735,17296.113410,231.420387,1.232265,11027.037292,-1.204310e-16,-6.021549e-17,6.021549e-17,-6.021549e-17,NaN,-2.147466e-17
std,1.000132e+00,1.000132e+00,1.000132e+00,2.209763,2583.329516,17.149445,1.670686,3048.087220,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,NaN,1.000000e+00
min,-1.908864e+00,-1.690731e+00,-1.277825e+00,3.500000,13599.160000,199.300000,0.050000,6696.800000,-9.250828e-01,-8.341444e-01,-1.143770e+00,-7.940129e-01,NaN,-6.168629e-01
25%,-8.908454e-01,-7.943955e-01,-8.003327e-01,4.600000,14865.701000,217.290000,0.120000,8451.850000,-7.518394e-01,-6.379641e-01,-8.101423e-01,-7.066625e-01,NaN,-5.707431e-01
50%,-2.146366e-01,-2.917846e-01,-3.781072e-01,5.600000,16911.068000,232.937000,0.200000,10696.100000,-2.897073e-01,-4.986752e-01,-3.795237e-01,-4.658645e-01,NaN,-1.753836e-01
75%,9.794692e-01,7.331730e-01,5.832394e-01,8.200000,19304.506000,244.006000,1.910000,13433.650000,3.686846e-01,1.806027e-01,6.119756e-01,3.069216e-01,NaN,-1.073846e-03
max,1.845587e+00,2.732564e+00,3.416720e+00,14.700000,22313.850000,262.650000,5.260000,19151.600000,4.510961e+00,3.611299e+00,3.067411e+00,3.684503e+00,NaN,6.895214e+00

In [6]:
# Forward-fill NaN values in all columns
df = df.fillna(method='ffill')
df

,^GDAXI,^GSPC,^IXIC,unemployment,gdp,inflation,interest_rate,money_supply,AAPL,MSFT,GOOG,AMZN,FB,TSLA
2006-01-02,-1.247425,NaN,NaN,NaN,NaN,NaN,NaN,6696.8,NaN,NaN,NaN,NaN,NaN,NaN
2006-01-03,-1.243457,-0.840025,-0.884245,NaN,NaN,NaN,NaN,6696.8,-0.895238,-0.674184,-0.924353,-0.766531,NaN,NaN
2006-01-04,-1.220116,-0.833331,-0.876285,NaN,NaN,NaN,NaN,6696.8,-0.894965,-0.672271,-0.911999,-0.766953,NaN,NaN
2006-01-05,-1.222745,-0.833303,-0.870872,NaN,NaN,NaN,NaN,6696.8,-0.895697,-0.671976,-0.904594,-0.766442,NaN,NaN
2006-01-06,-1.215406,-0.816110,-0.859268,NaN,NaN,NaN,NaN,6696.8,-0.893317,-0.673154,-0.886798,-0.766161,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-02-01,1.819068,2.732564,3.412224,3.5,21538.032,259.248,1.58,13841.5,4.350047,3.436568,2.878846,3.333773,NaN,6.895214
2020-03-01,1.819068,2.732564,3.412224,4.4,21538.032,258.124,0.65,13841.5,4.350047,3.436568,2.878846,3.333773,NaN,6.895214
2020-08-01,1.819068,2.732564,3.412224,8.4,21538.032,259.411,0.10,13841.5,4.350047,3.436568,2.878846,3.333773,NaN,6.895214
2020-11-01,1.819068,2.732564,3.412224,6.7,21538.032,260.813,0.09,13841.5,4.350047,3.436568,2.878846,3.333773,NaN,6.895214
2021-01-01,1.819068,2.732564,3.412224,6.3,22313.850,262.650,0.09,13841.5,4.350047,3.436568,2.878846,3.333773,NaN,6.895214

In [13]:
# 1. Importing Libraries
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import LSTM, Dense
import numpy as np

# 2. Data Preprocessing
# Assuming df is the loaded DataFrame
# Normalize variables
scaler = MinMaxScaler()
df[['GDAX', 'GSPC', 'IXIC', 'inflation', 'interest_rate', 'money_supply']] = scaler.fit_transform(df[['GDAX', 'GSPC', 'IXIC', 'inflation', 'interest_rate', 'money_supply']])

# Convert to time series format - considering 'GDAX' as the target variable
X = df[['GSPC', 'IXIC', 'inflation', 'interest_rate', 'money_supply']].values
y = df['GDAX'].values

# Reshape data for LSTM [samples, timesteps, features]
X = np.reshape(X, (X.shape[0], 1, X.shape[1]))

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 3. Building LSTM Model
model = Sequential()
model.add(LSTM(50, input_shape=(X_train.shape[1], X_train.shape[2])))
model.add(Dense(1))
model.compile(optimizer='adam', loss='mse')

# 4. Training the Model
model.fit(X_train, y_train, epochs=50, batch_size=64, validation_data=(X_test, y_test), verbose=1)

# 5. Evaluation
loss = model.evaluate(X_test, y_test)
print(f'Test Loss: {loss}')

KeyError: "['GDAX', 'GSPC', 'IXIC'] not in index"